.form-checkbox label {
    margin: auto;
}
.shift-right {
    display: inline !important;
    text-align: right !important;
}
.shift-center {
    display: inline !important;
    text-align: center !important;
}
